*{
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
body{
    height: 100%;
}
.container{
    width: 93%;
    height: 95%;
    margin: 0 auto;
    margin-top: 30px;
    /* overflow: hidden; */
    overflow-x: visible !important;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 10%;
}
#newtaskbutton{
    background: none;
    border: none;
    color: #5A5C63;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 20px;
    height: 50px;
    vertical-align: middle;
    
}
#newtaskbutton:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 4px;
}
.spec{
    display: flex;
    justify-content: space-between;
}
.spec-container{
    width: 22%;
}
.content-container .header{
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.content-container .header.todo{
    background-color: #00A6DA;
}
.content-container .header.doing{
    background-color: rgba(204, 172, 3,0.56)
}
.content-container .header.finish{
    background-color: #3BC057;
}
.content-container .header.block{
    background-color: #E74C3C;
}
.header-text p{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;
}
.count p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    /* background-color: #00CDDA; */
    border-radius: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    padding: 3px;
    vertical-align: middle;
    line-height: 100%;
}
.count p.todo{
    background-color: #00CDDA;
}
.count p.doing{
    background-color: #DAB700;
}
.count p.finish{
    background-color: #69CE7E;
}
.count p.block{
    background-color: #E74C3C;
}
.line{
    /* background-color: #00A6DA; */
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.line.todo{
    background-color: #00A6DA;
}
.line.doing{
    background-color: #DAB700;
}
.line.finish{
    background-color: #3BC057;
}
.line.block{
    background-color: #E74C3C;
}
.note-big-container{
    overflow-y: scroll;
    height: 75dvh;
}
.note-big-container::-webkit-scrollbar{
    width: 5px;

}
.note-big-container::-webkit-scrollbar-thumb{
    background-color: #DBDBDB;
    border-radius: 5px;
    height: 30px;
}
.note-content{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 27px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}
.note-content p:first-child{
    text-decoration: underline;
    color: #4D8EFF;
    font-size: 12px;
    font-weight: 700;
    word-spacing: 2px;
    margin-bottom: 6px;
}
.note-content h2{
    font-size: 18px;
    font-weight: 800;
    color: #393939;
    margin-bottom: 30px;
}
.line-content{
    width: 90%;
    padding: 0.5px;
    background-color: #DBDBDB;
    margin-bottom: 10px;
}
.note-content .content-name{
    color: #5A5C63;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 7px;
}
.fa-regular.fa-clock{
    font-size: 16px;
    color: #5A5C63;
    margin-right: 10px;
}
.note-content span{
    color: #5A5C63;
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
}
.edit-delete-button{
    position: absolute;
    top: 27px;
    right: 27px;
}
.fa-solid.fa-trash-can{
    margin-left: 10px;
    font-size: 18px;
    color: #393939;
    cursor: pointer;
}
.fa-regular.fa-pen-to-square{
    font-size: 18px;
    color: #393939;
    cursor: pointer;
}
/* css form add new todo */
.form{
    position: absolute;
    background-color: white;
    z-index: 10;
    top: 50%;
    left: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 40%;
    border-radius:4px ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.form h3{
    margin-bottom: 10px;
    color: #393939;
    text-align: center;
}
.fa-solid.fa-x{
    color: #858585;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
}
#category, #title, #content, #submitbutton{
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid #a9a9a9;
    height: 25px;
}
#category, #title, #content{
    margin-bottom: 5px;
}
#content{
    height: 50%;
}
#submitbutton{
    cursor: pointer;
}